<div id="about"></div>
<div id="skills"></div>
<h1>
    Frontend</h1>
<mat-grid-list cols="8" rowHeight="2:2">
    <mat-grid-tile><img src="../../../assets/images/html.svg"></mat-grid-tile>
    <mat-grid-tile><img src="../../../assets/images/css3.svg"></mat-grid-tile>
    <mat-grid-tile><img src="../../../assets/images/sass-brands.svg"></mat-grid-tile>
    <mat-grid-tile>Sass</mat-grid-tile>
    <mat-grid-tile>Angular</mat-grid-tile>
    <mat-grid-tile>Typescript</mat-grid-tile>
    <mat-grid-tile>Sass</mat-grid-tile>
    <mat-grid-tile>Typescript</mat-grid-tile>
</mat-grid-list>

<h1>Backend</h1>
<mat-grid-list cols="8" rowHeight="2:1">
    <mat-grid-tile>C#</mat-grid-tile>
    <mat-grid-tile>REST</mat-grid-tile>
    <mat-grid-tile>MSSQL</mat-grid-tile>
    <mat-grid-tile>NodeJS</mat-grid-tile>
    <mat-grid-tile>Versoin Control</mat-grid-tile>
    <mat-grid-tile>Git</mat-grid-tile>
    <mat-grid-tile>NPM</mat-grid-tile>
    <mat-grid-tile>Typescript</mat-grid-tile>
</mat-grid-list>

<div id="portfolio"></div>
<mat-tab-group mat-align-tabs="center" style="min-height:70%;">
    <mat-tab label="Design">
        <mat-grid-list cols="4" rowHeight="2:1">
            <mat-grid-tile><img src="../../../assets/images/layout-1.png"></mat-grid-tile>
            <mat-grid-tile><img src="../../../assets/images/layout-2.png"></mat-grid-tile>
            <mat-grid-tile><img src="../../../assets/images/layout-3.png"></mat-grid-tile>
            <mat-grid-tile><img src="../../../assets/images/layout-4.png"></mat-grid-tile>
            <mat-grid-tile><img src="../../../assets/images/layout-5.png"></mat-grid-tile>
            <mat-grid-tile><img src="../../../assets/images/layout-6.png"></mat-grid-tile>
            <mat-grid-tile><img src="../../../assets/images/layout-7.png"></mat-grid-tile>
            <mat-grid-tile><img src="../../../assets/images/layout-8.png"></mat-grid-tile>
            <mat-grid-tile><img src="../../../assets/images/layout-9.png"></mat-grid-tile>
            <mat-grid-tile><img src="../../../assets/images/layout-10.png"></mat-grid-tile>
            <mat-grid-tile><img src="../../../assets/images/layout-11.png"></mat-grid-tile>
            <mat-grid-tile><img src="../../../assets/images/layout-12.png"></mat-grid-tile>

        </mat-grid-list>
    </mat-tab>
    <mat-tab label="Logo">
        <mat-grid-list cols="4" rowHeight="2:1">
            <mat-grid-tile><img src="../../../assets/images/logo-1.png"></mat-grid-tile>
            <mat-grid-tile><img src="../../../assets/images/logo-2.png"></mat-grid-tile>
            <mat-grid-tile><img src="../../../assets/images/logo-3.png"></mat-grid-tile>
            <mat-grid-tile><img src="../../../assets/images/logo-4.png"></mat-grid-tile>
            <mat-grid-tile><img src="../../../assets/images/logo-5.png"></mat-grid-tile>
            <mat-grid-tile><img src="../../../assets/images/logo-6.png"></mat-grid-tile>
            <mat-grid-tile><img src="../../../assets/images/logo-7.png"></mat-grid-tile>

        </mat-grid-list>
    </mat-tab>
</mat-tab-group>
<div id="contact"></div>