<!-- <p>Frontend<br> HTML5<br> CSS3<br> Sass<br> Angular<br> Typescript Backend C# REST MSSQL NodeJS Version Control Git NPM Experiance/Work
</p> -->

<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Web Design">
        <mat-grid-list cols="4" rowHeight="2:1">
            <mat-grid-tile><img src="../../../assets/images/bg2.jpg"></mat-grid-tile>
            <mat-grid-tile><img src="../../../assets/images/bg2.jpg"></mat-grid-tile>
            <mat-grid-tile><img src="../../../assets/images/bg2.jpg"></mat-grid-tile>
            <mat-grid-tile><img src="../../../assets/images/bg2.jpg"></mat-grid-tile>
            <mat-grid-tile><img src="../../../assets/images/bg2.jpg"></mat-grid-tile>
            <mat-grid-tile><img src="../../../assets/images/bg2.jpg"></mat-grid-tile>
            <mat-grid-tile><img src="../../../assets/images/bg2.jpg"></mat-grid-tile>
            <mat-grid-tile><img src="../../../assets/images/bg2.jpg"></mat-grid-tile>
        </mat-grid-list>
    </mat-tab>
    <mat-tab label="Graphics">
        <mat-grid-list cols="4" rowHeight="2:1">
            <mat-grid-tile><img src="../../../assets/images/bg3.jpg"></mat-grid-tile>
            <mat-grid-tile><img src="../../../assets/images/bg3.jpg"></mat-grid-tile>
            <mat-grid-tile><img src="../../../assets/images/bg3.jpg"></mat-grid-tile>
            <mat-grid-tile><img src="../../../assets/images/bg3.jpg"></mat-grid-tile>
        </mat-grid-list>
    </mat-tab>
    <mat-tab label="Laser Design">
        <mat-grid-list cols="4" rowHeight="2:1">
            <mat-grid-tile><img src="../../../assets/images/bg1.jpg"></mat-grid-tile>
            <mat-grid-tile><img src="../../../assets/images/bg1.jpg"></mat-grid-tile>
            <mat-grid-tile><img src="../../../assets/images/bg1.jpg"></mat-grid-tile>
        </mat-grid-list>
    </mat-tab>
</mat-tab-group>