<!-- <div class="hero-image">
    <mat-toolbar>
        <span class="example-spacer"></span>

        <mat-list role="list" fxLayout="row">
            <mat-list-item role="listitem"><a href="#">About</a></mat-list-item>
            <mat-list-item role="listitem"><a href="#">Skills</a></mat-list-item>
            <mat-list-item role="listitem"><a href="#">CV</a></mat-list-item>
            <mat-list-item role="listitem"><a href="#">Portfolio</a></mat-list-item>
            <mat-list-item role="listitem"><a href="#">Contact/Links</a></mat-list-item>
        </mat-list>

    </mat-toolbar>
    <div class="hero-text">
        <h1 style="font-size:50px">I'm Elly Butler</h1>
    </div>
</div> -->
<router-outlet></router-outlet>